* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

.head {
  width: 100%;
  height: 35vh;
  background-image: url("../images/pattern-bg.png");
}

.title {
  color: white;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  padding: 5vh 0px;
}

form {
  display: flex;
  width: 80%;
  padding: 0px;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  background-color: white;
  border-radius: 9px;
}

.active {
  color: red;
  background-color: #e5c1c163;
  text-align: center;
  width: 25px;
  height: 25px;
  margin-right: 20px;
  border-radius: 50%;
  font-size: 12px;
  line-height: 25px !important;
}

.hidden {
  display: none !important;
}

form > input {
  width: 100%;
  background: none;
  border: 0;
  padding: 0;
  outline: none;
  height: 50px;
}

.button {
  height: 50px;
  width: 70px;
  background-color: black;
  color: #ffffff;
  text-transform: uppercase;
  border-style: none;
  border-radius: 9px;
  cursor: pointer;
  outline: none;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

@media (min-width: 1024px) {
  form {
    width: 40%;
    height: 5vh;
  }
  .button {
    height: 5vh;
    font-size: 26px;
  }
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  border-radius: 9px;
  border: 1px solid black;
  position: absolute;
  left: 10%;
  top: 25%;
  background-color: white;
  z-index: 1000;
}

.data div {
  padding: 1vh;
}

@media (min-width: 1024px) {
  .data {
    display: flex;
    flex-direction: row;
    top: 27.5%;
    border-radius: 15px;
  }
  .data > div {
    /* padding: 4vh; */
    /* border-right: 0.5px solid grey; */
    width: 25%;
    color: grey;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 0.5px solid grey;
  }
  .meta-data {
    height: 80%;
    padding: 5px;
    /* border-right: 0.5px solid grey; */
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: 600;
  }
  .meta-data::before {
    border-right: 0.5px solid grey;
  }
}

#map {
  height: 65vh;
}
